/* Define o tamanho maximo do container */
.container {
    max-width: 900px;
}

/* Remove a margem abaixo da tabela */
.table {
    margin-bottom: 0;
}

/* Cor de fundo do header das tabelas e total */
th, .cart-total {
    background-color: var(--light-gray) !important;
}

/* Adiciona bordar no container do carrinho */
.cart-container {
    border: 3px;
    border-style: solid;
    border-color: var(--light-gray);
}

/* Define a altura e a largura maxia da imagem dos itens */
.cart-item img {
    height: 120px;
    max-width: 120px;
}

/* Estiliza texto dos itens do carrinho */
.item-description {
    color: var(--dark-green);
    font-weight: 600;
}

/* Estiliza o link de remover */
.item-link {
    color: red;
    text-decoration: none;
    font-weight: 300;
}

/* Adiciona sublinhado ao colocar cursor */
.item-link:hover {
    text-decoration: underline;
}

/* Estiliza a fonte dos totais */
.total-label {
    color: var(--gray);
    font-weight: 600;
}