.slogan {
    height: 30vw;
    color: var(--dark-green);
}

.slogan * {
    font-size: 1.5vw;
    line-height: 2.5vw;
}

.slogan h1 {
    font-size: 3.6vw;
    font-weight: 800;
    line-height: 5vw;
}

.home-body * {
    color: var(--gray);
    font-size: 1.75vw;
}

.home-body h4, .card-title {
    font-weight: 700;
}

.section-title {
    color: var(--primary-green);
    font-size: 3vw;
    font-weight: 700;
    padding-bottom: 0.6rem;
    border-bottom: 3px solid;
    width: fit-content;
}

.card {
    width: 10.2em;
    height: 10.2em;
}

.card-icon {
    color: var(--primary-green);
    font-size: 2.8vw;
}

.card-text {
    font-size: 1.1vw;
}