/* Cores globais aplicacao */
:root {
    --dark-green: #155B4A;
    --primary-green: #73D29F;
    --gray: #707070;
    --light-gray: #E1E1E1;
}

/* Fonte padrao app */
* {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

/* html e body usam 100% da tela */
html, body {
    width: 100%;
    height: 100%;
}

/* Backgroud verde padrao */
.bg-primary-green {
    background-color: var(--primary-green);
}

.navbar-brand *, .offcanvas-title, .footer-title {
    font-family: 'Lemon', serif;
}

.navbar, .navbar-brand, .nav-link, .offcanvas, .footer {
    color: var(--dark-green);
}

.footer-info :not(i) {
    font-size: 14px;
}