/* Formata tabs de navegacao */
.nav-underline {
    .nav-link, .nav-link.active {
        font-size: 24px;
        font-weight: 800;
        color: rgb(215, 215, 215)
    }

    .nav-link.active {
        color: var(--primary-green);
    }
}

/* Formata tab de produto */
.productTab {
    /* Define altura e largura do card */
    .card {
        max-width: 21vw;
        height: 25rem;
    }

    /* Formata o preco do produto no canto superior do card */
    .card-price {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        border: 1px;
        border-top: 0;
        border-right: 0;
        border-style: solid;
        border-color:  rgb(215, 215, 215);
        border-radius: 0 var(--bs-border-radius-xl) 0 var(--bs-border-radius-lg);
        color: #198754;
        font-weight: 800;
        z-index: 1;
    }

    /* Formata imagem do card */
    .card-img {
        height: 76%; // 76% da altura do card
        max-width: 100%;
    }

    /* Formata o footer do card */
    .card-footer {
        height: 24%; // 24% da altura do card
        overflow: hidden;
    }

    /* Formata o titulo do card */
    .card-title * {
        color: var(--dark-green);
        font-size: 16px;
        font-weight: 800;
    }

    /* Formata o paragrafo da descricao do card */
    .card-text-hidden p {
        color: var(--gray);
        font-size: 12px;
        font-weight: 600;
    }

    /* Posiciona regiao de botoes do card */
    .card-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    /* Ajusta card ao abrir descricao */
    .card.expanded {

        /* Altera a visualizacao do footer do card para abrir sobre a imagem */
        .card-footer {
            position: absolute;
            height: 60%;
            top: 40%;
            left: 0;
            right: 0;
            background-color: white;
        }

        /* Escurece imagem do card */
        .card-img {
            height: 100%;
            filter: brightness(0.85);
        }
    }

    /* Estiliza botao do carrossel */
    .carousel-button {
        background-color: transparent;
        border: 0;
    }
}

/* Formata tab de servicos */
.serviceTab {
    /* Altura e largura do card */
    .card {
        max-width: 50vw;
        max-height: 50vh;
    }
    
    /* Altura maxima da imagem */
    .card-img {
        max-height: 90%;
    }

    /* Animacao ao sobrepor card com o cursor */
    .card:hover {
        transform: scale(1.02);
    }
}

/* Define tamanho da modal */
.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

/* Ajustes para dispositivos de ate 1024px de largura */
@media (max-width: 1024px) {
    .productTab {

        .row-cols-md-4 > * {
            width: 50%;
            margin-bottom: 3rem !important;
        }

        .card {
            max-width: 34vw;
            height: 20rem;
        }

        .card.expanded {
            .card-footer {
                height: 70%;
                top: 30%;
            }
        }
    }
}

/* Ajustes para dispositivos de ate 768px de largura */
@media (max-width: 768px) {
    .productTab {

        .card {
            height: 18rem;
        }

        .card-title * {
            font-size: 12px;
        }
    
        .card-text-hidden p {
            font-size: 8px;
        }

    }
}

/* Ajustes para dispositivos de ate 480px de largura */
@media (max-width: 480px) {
    main {
        .card {
            max-width: 40vw;
        }
    }

    .tab-content  {
        padding-top: 20vw;
    }

    .productTab {

        .row-cols-md-4 > * {
            width: 100%;
        }

        .card {
            max-width: 60vw;
        }
    }
}

/* Ajuste para dispositivos de no minimo 769px de largura */
@media (min-width: 769px) {
    .productTab {
        margin-top: 6rem !important;
    }
}