.nav-underline {
    .nav-link, .nav-link.active {
        font-size: 24px;
        font-weight: 800;
        color: rgb(215, 215, 215)
    }

    .nav-link.active {
        color: var(--primary-green);
    }
}

.productTab {
    .card {
        max-width: 50vw;
        max-height: 50vh;
    }

    .card-img {
        max-height: 90%;
        max-width: 100%;
    }

    .card-footer {
        height: 100%;
        transition: max-height 0.3s ease-in-out;
        overflow: hidden;
    }
    
    .card.expanded {

        .card-footer {
            position: absolute;
            height: 50%;
            top: 50%;
            left: 0;
            right: 0;
            background-color: white;
        }

        .card-img {
            filter: brightness(0.85);
        }
    }
}

.serviceTab {
    .card {
        max-width: 50vw;
        max-height: 50vh;
    }
    
    .card-img {
        max-height: 90%;
    }
    
    .card:hover {
        transform: scale(1.02);
    }
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

@media (max-width: 480px) {
    main {
        .card {
            max-width: 40vw;
        }
    }

    .tab-content  {
        padding-top: 20vw;
    }
}