.nav-underline {
    .nav-link, .nav-link.active {
        font-size: 24px;
        font-weight: 800;
        color: rgb(215, 215, 215)
    }

    .nav-link.active {
        color: var(--primary-green);
    }
}

.productTab {
    .card {
        max-width: 20vw;
        height: 25rem;
    }

    .card-price {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        border: 1px;
        border-top: 0;
        border-right: 0;
        border-style: solid;
        border-color:  rgb(215, 215, 215);
        border-radius: 0 var(--bs-border-radius-xl) 0 var(--bs-border-radius-lg);
        color: #198754;
        font-weight: 800;
        z-index: 1;
    }

    .card-img {
        height: 76%;
        max-width: 100%;
    }

    .card-footer {
        height: 24%;
        overflow: hidden;
    }

    .card-title * {
        color: var(--dark-green);
        font-size: 16px;
        font-weight: 800;
    }

    .card-text-hidden p {
        color: var(--gray);
        font-size: 14px;
        font-weight: 600;
    }

    .card-buttons {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
    .card.expanded {

        .card-footer {
            position: absolute;
            height: 60%;
            top: 40%;
            left: 0;
            right: 0;
            background-color: white;
        }

        .card-img {
            filter: brightness(0.85);
        }
    }

    .carousel-button {
        background-color: transparent;
        border: 0;
    }
}

.serviceTab {
    .card {
        max-width: 50vw;
        max-height: 50vh;
    }
    
    .card-img {
        max-height: 90%;
    }
    
    .card:hover {
        transform: scale(1.02);
    }
}

.modal-body {
    max-height: 500px;
    overflow-y: auto;
}

@media (max-width: 1024px) and (min-width: 1024px) {
    .productTab {

        .row-cols-md-4 > * {
            width: 50%;
            margin-bottom: 3rem !important;
        }

        .card {
            max-width: 30vw;
        }
    }
}

@media (max-width: 768px) {
    .productTab {

        .card {
            height: 18rem;
        }

        .card-title * {
            font-size: 12px;
        }
    
        .card-text-hidden p {
            font-size: 10px;
        }
    }
}

@media (max-width: 480px) {
    main {
        .card {
            max-width: 40vw;
        }
    }

    .tab-content  {
        padding-top: 20vw;
    }

    .productTab {

        .row-cols-md-4 > * {
            width: 100%;
        }

        .card {
            max-width: 60vw;
        }
    }
}